[Desktop Entry]
Version=1.1
Type=Application
Name=Eddy
GenericName=Text Editor
Comment=Keyboard-only graphical text editor
Categories=Utility;TextEditor;
MimeType=text/plain;
Icon=eddy
DBusActivatable=true
Exec=eddy
Name[en_US]=eddy.desktop
