[Desktop Entry]
Version=1.1
Type=Application
Name=Scriggle
GenericName=Text Editor
Comment=Keyboard-only graphical text editor
Categories=Utility;TextEditor;
MimeType=text/plain;
Icon=scriggle
DBusActivatable=true
Exec=scriggle
